// .termsandCondition-section {
//     padding: 50px;
//     text-align: left;
//     margin-top: 45px;

//   }

  .headingspace-rows {
    margin-top: 25px;
  }

  .termsandCondition-section {
    margin-top: 100px;
  }

  .headline-height {
    margin-top: 10px;
    font-size: 20px !important;
  }


  .contact_about {
    font-size: 30px;
    text-align: left; 
    font-weight: 700;
  }

  *{line-height: 34px;
    font-size: 17px;}

.row-space  .fontsize {
    position:relative;
    top:-6px !important;

  }  
    